[class^='type-'] {
    color:#fff;
}
.type-Water {
    background: rgb(69, 120, 237);
}
.type-Electric {
    background: rgb(246, 201, 19);
}
.type-Grass {
    background: rgb(105, 194, 61);
}
.type-Fighting {
    background: rgb(174, 42, 36);
}
.type-Fairy {
    background: rgb(232, 120, 144);
}
.type-Fire {
    background: rgb(237, 109, 18);
}
.type-Ice {
    background: rgb(126, 206, 206);
}
.type-Flying {
    background:rgb(142, 111, 235);
}
.type-Psychic {
    background: rgb(247, 54, 112);
}
.type-Poison {
    background: rgb(146, 58, 146);
}
.type-Steel {

}
.type-Bug {

}
.type-Ghost {

}
.type-Dark {

}
.type-Ground {
    background: rgb(219, 181, 77);
}
