@import "./_utils.scss";

html, body, .app {
    min-height:100vh;
    width:100%;
    font-size:16px;
}
.appBar h1 {
    cursor: pointer;
}
main {
    width: 90%;
    margin:4rem auto 0;
}

.search {
    width:50%;
    margin:0 auto 4rem;
}
.search label {
    margin:0;
}

footer.footer {
    margin:auto auto 0;
    padding: 2rem 0;
}

@import "./_types.scss";
